{% set post = __SELF__.post %}
<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-8">
                <h2>{{ post.title }}</h2><br>
                <div class="content">{{ post.content_html | raw }}</div>
                <p class="info">
                    {% if post.categories.count %}
                        {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join(', ') %}
                
                        {{ 'rainlab.blog::lang.post.posted_byline' | trans({
                            date: post.published_at | date('rainlab.blog::lang.post.date_format' | trans),
                            categories: categoryLinks
                        }) }}
                    {% else %}
                        {{ 'rainlab.blog::lang.post.posted_byline_no_categories' | trans({
                            date: post.published_at | date('rainlab.blog::lang.post.date_format'|trans)
                        }) }}
                    {% endif %}
                </p>
            </div>
            {% if post.featured_images.count %}
            <div class="col-sm-4">
                <div class="featured-images text-center">
                {% for image in post.featured_images %}
                    <p>
                        <img
                            data-src="{{ image.filename }}"
                            src="{{ image.path }}"
                            alt="{{ image.description }}"
                            style="max-width: 100%" />
                    </p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
