.download-links {
  a {
    display: inline-block;
    color: @brand-primary;
    text-decoration: none !important;
  }

  a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: @brand-secondary;
    color: @brand-secondary;
    transition: width .3s;
  }

  a:hover::after {
    width: 100%;
    //transition: width .3s;
  }
}