.container-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-white {
  background-color: #FFFFFF;
}
.section-grey {
  background-color: #EEEEEE;
}
.mobile-slider-controls {
  display: none;
}
.mobile-slider-controls a {
  font-size: 32px;
}
@media (max-width: 767px) {
  .section-mobile-slider {
    width: 100%;
  }
  .section-mobile-slider .container {
    width: 100%;
    overflow: hidden;
  }
  .section-mobile-slider .container .mobile-slider-controls {
    display: block;
    height: 0px;
  }
  .section-mobile-slider .container .mobile-slider-controls .ms-left-button {
    position: relative;
    top: -200px;
    float: left;
  }
  .section-mobile-slider .container .mobile-slider-controls .ms-right-button {
    position: relative;
    top: -200px;
    float: right;
  }
  .section-mobile-slider .container .row-slider {
    width: 400%;
    margin-left: 0;
    margin-right: 0;
    transition: 1s;
  }
  .section-mobile-slider .container .row-slider .mobile-slide {
    width: 25%;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
  }
}
.pt20 {
  padding-top: 20px;
}
.header {
  background-image: url('../images/header.jpg');
  background-size: cover;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  color: #FFFFFF !important;
}
.header h1 {
  color: #FFFFFF !important;
  font-weight: 700;
  text-shadow: 0px 3px 5px #000000;
}
.col-nieuws .post-list {
  padding: 0;
}
.col-nieuws .post-list li {
  list-style: none;
}
.col-nieuws .post-list li h3 {
  font-size: 20px;
}
.col-nieuws .post-list li .info {
  font-size: 12px;
}
.col-nieuws .pagination {
  display: none;
}
.w100 {
  width: 100%;
}
.slepen-img {
  margin-top: 50px;
}
.sloepen-img {
  padding-bottom: 20px;
}
.navbar {
  background-color: #FFFFFF;
  box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
}
.custom-toggler.navbar-toggler {
  border-color: #000000;
}
.menu-searchbox {
  float: left;
  width: 200px;
}
.nav {
  padding-right: 20px;
}
.section-footer {
  display: none;
  background-color: #333;
  color: #DDD;
}
.section-footer h3 {
  color: #CCC;
}
.section-footer a {
  color: #DDD;
}
.section-footer ul {
  list-style: none !important;
  padding-inline-start: 0px;
}
.section-footer .container .row .footer-h3-placeholder {
  padding-top: 67px !important;
}
.section-footer .copy {
  padding-top: 50px;
}
.mobile-footer-placeholder {
  width: 100%;
  height: 100px;
  display: block;
}
.mobile-footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -10px 5px 0px rgba(50, 50, 50, 0.5);
}
.mobile-footer .mobile-footer-button {
  width: 25%;
  height: 100px;
  background-color: #ffffff;
  color: #1f3f50;
  text-align: center;
  font-size: 40px;
  float: left;
  padding-top: 5px;
  border-left: 1px #eee solid;
  border-right: 1px #eee solid;
}
.mobile-footer .mobile-footer-button p {
  font-size: 16px;
}
.mobile-footer .mobile-footer-button:hover {
  background-color: #3097d1;
  color: #ffffff;
}
@media (min-width: 768px) {
  .section-footer {
    display: block;
  }
  .mobile-footer-placeholder {
    display: none;
  }
  .mobile-footer {
    display: none;
  }
}
.post-list,
.category-list {
  padding: 0;
}
.post-list li,
.category-list li {
  list-style: none;
}
