.callout {
  margin-bottom: 25px;
  padding: 20px;
  border-left: 3px solid #eeeeee;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout-danger {
  background-color: #fdf7f7;
  border-color: #ebccd1;
}
.callout-danger h4 {
  color: #a94442;
}
.callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.callout-warning h4 {
  color: #8a6d3b;
}
.callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.callout-info h4 {
  color: #31708f;
}
.callout-success {
  background-color: #f9fdf7;
  border-color: #d6e9c6;
}
.callout-success h4 {
  color: #3c763d;
}
.t-ww {
  word-wrap: break-word;
  word-break: break-word;
}
.border-none {
  border: 0;
}
.pos-r {
  position: relative !important;
}
.pos-a {
  position: absolute !important;
}
.pos-f {
  position: fixed !important;
}
.w-sm {
  width: 25% !important;
}
.w-md {
  width: 50% !important;
}
.w-lg {
  width: 75% !important;
}
.w-full {
  width: 100% !important;
}
.w-50 {
  width: 50px !important;
}
.w-100 {
  width: 100px !important;
}
.w-120 {
  width: 120px !important;
}
.w-130 {
  width: 130px !important;
}
.w-140 {
  width: 140px !important;
}
.w-150 {
  width: 150px !important;
}
.w-200 {
  width: 200px !important;
}
.w-300 {
  width: 300px !important;
}
.w-350 {
  width: 350px !important;
}
.m-a-0 {
  margin: 0 !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-l-0 {
  margin-left: 0 !important;
}
.m-a {
  margin: 20px !important;
}
.m-t {
  margin-top: 20px !important;
}
.m-r {
  margin-right: 20px !important;
}
.m-b {
  margin-bottom: 20px !important;
}
.m-l {
  margin-left: 20px !important;
}
.m-x {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.m-y {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.m-a-xs {
  margin: 5px !important;
}
.m-t-xs {
  margin-top: 5px !important;
}
.m-r-xs {
  margin-right: 5px !important;
}
.m-b-xs {
  margin-bottom: 5px !important;
}
.m-l-xs {
  margin-left: 5px !important;
}
.m-x-xs {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.m-y-xs {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-a-sm {
  margin: 10px !important;
}
.m-t-sm {
  margin-top: 10px !important;
}
.m-r-sm {
  margin-right: 10px !important;
}
.m-b-sm {
  margin-bottom: 10px !important;
}
.m-l-sm {
  margin-left: 10px !important;
}
.m-x-sm {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.m-y-sm {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-a-md {
  margin: 30px !important;
}
.m-t-md {
  margin-top: 30px !important;
}
.m-r-md {
  margin-right: 30px !important;
}
.m-b-md {
  margin-bottom: 30px !important;
}
.m-l-md {
  margin-left: 30px !important;
}
.m-x-md {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.m-y-md {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.m-a-lg {
  margin: 60px !important;
}
.m-t-lg {
  margin-top: 60px !important;
}
.m-r-lg {
  margin-right: 60px !important;
}
.m-b-lg {
  margin-bottom: 60px !important;
}
.m-l-lg {
  margin-left: 60px !important;
}
.m-x-lg {
  margin-right: 60px !important;
  margin-left: 60px !important;
}
.m-y-lg {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.p-a-0 {
  padding: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-a {
  padding: 20px !important;
}
.p-t {
  padding-top: 20px !important;
}
.p-r {
  padding-right: 20px !important;
}
.p-b {
  padding-bottom: 20px !important;
}
.p-l {
  padding-left: 20px !important;
}
.p-x {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.p-y {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p-a-xs {
  padding: 5px !important;
}
.p-t-xs {
  padding-top: 5px !important;
}
.p-r-xs {
  padding-right: 5px !important;
}
.p-b-xs {
  padding-bottom: 5px !important;
}
.p-l-xs {
  padding-left: 5px !important;
}
.p-x-xs {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.p-y-xs {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-a-sm {
  padding: 10px !important;
}
.p-t-sm {
  padding-top: 10px !important;
}
.p-r-sm {
  padding-right: 10px !important;
}
.p-b-sm {
  padding-bottom: 10px !important;
}
.p-l-sm {
  padding-left: 10px !important;
}
.p-x-sm {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.p-y-sm {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-a-md {
  padding: 30px !important;
}
.p-t-md {
  padding-top: 30px !important;
}
.p-r-md {
  padding-right: 30px !important;
}
.p-b-md {
  padding-bottom: 30px !important;
}
.p-l-md {
  padding-left: 30px !important;
}
.p-x-md {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.p-y-md {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.p-a-lg {
  padding: 60px !important;
}
.p-t-lg {
  padding-top: 60px !important;
}
.p-r-lg {
  padding-right: 60px !important;
}
.p-b-lg {
  padding-bottom: 60px !important;
}
.p-l-lg {
  padding-left: 60px !important;
}
.p-x-lg {
  padding-right: 60px !important;
  padding-left: 60px !important;
}
.p-y-lg {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.navbar-header .navbar-brand {
  padding-left: 55px;
  background-image: url(/images/october.png?ef287ca50354310ed8e8d4ba089bb255);
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 7px 50%;
  -webkit-transition: color 0.2s ease 0.05s;
  transition: color 0.2s ease 0.05s;
}
.navbar-autohide {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.navbar-nav a {
  -webkit-transition: color 0.25s, -webkit-box-shadow 0.15s !important;
  transition: color 0.25s, -webkit-box-shadow 0.15s !important;
  transition: color 0.25s, box-shadow 0.15s !important;
  transition: color 0.25s, box-shadow 0.15s, -webkit-box-shadow 0.15s !important;
  border-radius: 10px !important;
}
.navbar-nav a:hover {
  color: #2d618d !important;
  background: white !important;
}
.navbar-autohide.is-hidden {
  -webkit-transform: translateY(-72px);
          transform: translateY(-72px);
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li a {
  -webkit-transition: color 0.2s ease 0.05s;
  transition: color 0.2s ease 0.05s;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.dropdown-menu > li > a {
  color: #3097d1 !important;
}
.dropdown-menu > li > a a:hover {
  background-color: white !important;
}
.dropdown-menu > li > a .dropdown-toggle {
  background-color: white !important;
}
.navbar-nav a:active {
  background-color: #ffffff !important;
}
.navbar-nav li:hover > .dropdown-menu {
  display: block !important;
}
.title-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}
.title-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.title-bestuur {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
}
.title-news {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.btn-lg,
.btn-group-lg > .btn {
  position: absolute !important;
  left: 47%;
  margin: 10px;
}
.contact-footer a {
  position: absolute;
  left: 23%;
  top: 120%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 60px;
  background-color: #3097d1;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.contact-footer a:hover {
  color: #3097d1;
}
.contact-footer a:before {
  content: '';
  position: absolute;
  top: -0.1%;
  left: -0.1%;
  border-radius: 5px;
  background-color: #fff;
  width: 101%;
  height: 101%;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.contact-footer a:hover:before {
  color: #262626;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.section-footer {
  display: none;
  background-color: #333;
  color: #DDD;
}
.section-footer h3 {
  color: #CCC;
}
.section-footer a {
  color: #DDD;
}
.section-footer ul {
  list-style: none !important;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.section-footer .container .row .footer-h3-placeholder {
  padding-top: 67px !important;
}
.section-footer .copy {
  padding-top: 50px;
}
.mobile-footer-placeholder {
  width: 100%;
  height: 100px;
  display: block;
}
.mobile-footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0px -10px 5px 0px rgba(50, 50, 50, 0.5);
          box-shadow: 0px -10px 5px 0px rgba(50, 50, 50, 0.5);
}
.mobile-footer .mobile-footer-button {
  width: 25%;
  height: 100px;
  background-color: #ffffff;
  color: #1f3f50;
  text-align: center;
  font-size: 40px;
  float: left;
  padding-top: 5px;
  border-left: 1px #eee solid;
  border-right: 1px #eee solid;
}
.mobile-footer .mobile-footer-button p {
  font-size: 16px;
}
.mobile-footer .mobile-footer-button:hover {
  background-color: #3097d1;
  color: #ffffff;
}
@media (min-width: 768px) {
  .section-footer {
    display: block;
  }
  .mobile-footer-placeholder {
    display: none;
  }
  .mobile-footer {
    display: none;
  }
}
.footer-links a {
  color: lightgrey;
}
.footer-links a:hover {
  text-decoration: none;
  color: #3097d1;
  -webkit-transition: color 0.25s, -webkit-box-shadow 0.15s !important;
  transition: color 0.25s, -webkit-box-shadow 0.15s !important;
  transition: color 0.25s, box-shadow 0.15s !important;
  transition: color 0.25s, box-shadow 0.15s, -webkit-box-shadow 0.15s !important;
}
.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
.btn-4 span {
  z-index: 20;
}
.btn-4 span:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
body {
  padding-top: 70px;
  font-family: 'Raleway', sans-serif;
}
.whitespace {
  margin: 120px;
}
.more-contactinfo a {
  display: inline-block;
  color: #3097d1;
  text-decoration: none !important;
  font-weight: bold;
}
.more-contactinfo a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #2d618d;
  color: #2d618d;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.more-contactinfo a:hover::after {
  width: 100%;
}
.download-links a {
  display: inline-block;
  color: #3097d1;
  text-decoration: none !important;
}
.download-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #2d618d;
  color: #2d618d;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.download-links a:hover::after {
  width: 100%;
}
.header {
  background-image: url(/images/header.jpg?19602bbf1650a835a4cd3ac1c7e657bd);
  background-size: cover;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  color: #FFFFFF !important;
}
.header h1 {
  color: #FFFFFF !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 3px 5px #000000;
}
.col-nieuws .post-list {
  padding: 0;
}
.col-nieuws .post-list li {
  list-style: none;
}
.col-nieuws .post-list li h3 {
  font-size: 20px;
}
.col-nieuws .post-list li .info {
  font-size: 12px;
}
.col-nieuws .pagination {
  display: none;
}
.cool-link {
  display: inline-block;
  color: #3097d1;
  text-decoration: none !important;
  font-weight: 600;
}
.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #2d618d;
  color: #2d618d;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.cool-link:hover::after {
  width: 100%;
}
.no-decoration a {
  text-decoration: none;
  -webkit-transition: color 0.25s, -webkit-box-shadow 0.15s !important;
  transition: color 0.25s, -webkit-box-shadow 0.15s !important;
  transition: color 0.25s, box-shadow 0.15s !important;
  transition: color 0.25s, box-shadow 0.15s, -webkit-box-shadow 0.15s !important;
  font-weight: bold;
}
.no-decoration a a:hover {
  color: #123553 !important;
}
.title-first h3 {
  font-weight: 400 !important;
  font-family: 'Montserrat', sans-serif !important;
}
.home-section-carousel {
  height: 2000px;
  width: 2000px;
}
.post-list,
.category-list {
  padding: 0;
}
.post-list li,
.category-list li {
  list-style: none;
}
.navbar {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
}
.custom-toggler.navbar-toggler {
  border-color: #000000;
}
.menu-searchbox {
  float: left;
  width: 200px;
}
.nav {
  padding-right: 20px;
}
.container-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-white {
  background-color: #FFFFFF;
}
.section-grey {
  background-color: #EEEEEE;
}
.mobile-slider-controls {
  display: none;
}
.mobile-slider-controls a {
  font-size: 32px;
}
@media (max-width: 767px) {
  .section-mobile-slider {
    width: 100%;
  }
  .section-mobile-slider .container {
    width: 100%;
    overflow: hidden;
  }
  .section-mobile-slider .container .mobile-slider-controls {
    display: block;
    height: 0px;
  }
  .section-mobile-slider .container .mobile-slider-controls .ms-left-button {
    position: relative;
    top: -200px;
    float: left;
  }
  .section-mobile-slider .container .mobile-slider-controls .ms-right-button {
    position: relative;
    top: -200px;
    float: right;
  }
  .section-mobile-slider .container .row-slider {
    width: 400%;
    margin-left: 0;
    margin-right: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .section-mobile-slider .container .row-slider .mobile-slide {
    width: 25%;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
  }
}
.pt20 {
  padding-top: 20px;
}
.w100 {
  width: 100%;
}
.slepen-img {
  margin-top: 50px;
}
.sloepen-img {
  padding-bottom: 20px;
}
