<h2>
    <b>Geldigheid: 6 jaar</b>
</h2>
<p>
    Op de ALV van 1 februari 2020 is een reglementswijziging aangenomen waardoor de geldigheid van de Cw-kromme 6 jaar is geworden in plaats van 5 jaar. Sloepen die in 2016 voor het laatst zijn gesleept hoeven dus pas in 2022 opnieuw te worden gesleept, als er geen andere reden is om dat te doen.
</p>