title = "Contact"
url = "/contact"
layout = "defaulttemplate"
description = "Contactformulier Federatie Sloeproeien Nederland"
meta_title = "Contact"
meta_description = "Contactformulier Federatie Sloeproeien Nederland"
is_hidden = 0

[contenteditor]
file = "contact-text.htm"

[contactForm]
loadJS = 1

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==

<?php
function onStart() {
    if(isset($_POST['submit'])){
        $to = "dbosch85@gmail.com"; // this is your Email address
        $from = $_POST['email']; // this is the sender's Email address
        $name = $_POST['name'];
        $email = $_POST['email'];
        $subject = $_POST['subject'];
        $subject2 = "Copy of your form submission";
        $message = $name . " wrote the following:" . "\n\n" . $_POST['content'];
        $message2 = "Here is a copy of your message " . $name . "\n\n" . $_POST['content'];

        $headers = "From:" . $from;
        $headers2 = "From:" . $to;
        mail($to,$subject,$message,$headers);
        mail($from,$subject2,$message2,$headers2); // sends a copy of the message to the sender
        echo "Mail Sent. Thank you " . $name . ", we will contact you shortly.";
        // You can also use header('Location: thank_you.php'); to redirect to another page.
        }
}
?>
==
{% component 'siteSearchInclude' %}

<div class="section section-white">
    <div class="container container-padding">
    <h1 class="title-bold">Contact</h1>

    <section>
        {% component 'contenteditor' file='contact-desc.htm' tools='*'%}
    </section>

    <hr>
    
        {% component 'contactForm' %}
    

<!--     <form>
    <div class="form-group">
        <label for="name-contact">Naam</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="John Doe" name="name">
    </div>
    <div class="form-group">
        <label for="email-contact">Email Adres</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="naam@voorbeeld.com" name="email">
    </div>
    <div class="form-group">
        <label for="subject-contact">Onderwerp</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Informatie" name="subject">
    </div>
    <div class="form-group">
        <label for="textarea-contact">Bericht</label>
        <textarea class="form-control text-form" id="exampleFormControlTextarea1" rows="5" name="content"></textarea>
    </div>

    <button type="submit" name="submit" class="btn btn-primary">Verstuur</button>
</form> -->

        <div class="whitespace">
        </div>
    <section class="more-contactinfo">
        {% component 'contenteditor' file="contact-text.htm" tools="*"%}
    </section>

        <hr>

    </div>

</div>