title = "Downloads"
url = "/downloads"
layout = "defaulttemplate"
description = "Download handige bestanden"
meta_title = "Downloads"
meta_description = "Download handige bestanden"
is_hidden = 0

[contenteditor]
tools = "*"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}

<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title-bold">Downloads</h1><br>
                <div class="download-links">
                    {% component 'contenteditor' file="downloads-text.htm"  tools="*" %}
                </div>
            </div>
        </div>
    </div>
</div>