title = "Nieuws categorie"
url = "/nieuws/nieuws-categorie/:slug"
layout = "defaulttemplate"
description = "Categorie weergave voor nieuws items."
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = ":slug"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "{{ :slug }}"
postPage = "nieuws-post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "{{ :slug }}"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}

<div class="section section-white">
    <div class="container container-padding">
      <div class="row">
          <div class="col-sm-8">
            {% component 'blogPosts' %}
          </div>
          <div class="col-sm-4">
            {% component 'blogCategories' %}'
          </div>
      </div>
    </div>
</div>
<!--test-->