title = "Slepen"
url = "/slepen"
layout = "defaulttemplate"
description = "Pagina over slepen"
meta_title = "Slepen"
meta_description = "Slepen van sloepen door Federatie Sloeproeien Nederland"
is_hidden = 0

[contenteditor]
tools = "*"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}
<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title-bold">Slepen</h1>
                {% component 'contenteditor' file="slepen/sloepen-text1.htm"  tools="*" %}
            </div>
        </div>
    </div>
</div>
<div class="section section-grey">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                {% component 'contenteditor' file="slepen/sloepen-text2.htm"  tools="*" %}
            </div>
        </div>
    </div>
</div>
<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                {% component 'contenteditor' file="slepen/sloepen-text3.htm"  tools="*" %}
            </div>
        </div>
    </div>
</div>
<div class="section section-grey">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                {% component 'contenteditor' file="slepen/sloepen-text4.htm"  tools="*" %}

                <!-- Linkjes? -->
                <ul>
                    <li>Voor een uitleg over de sleepproef,  <a href="#">klik hier <i class="fas fa-angle-double-right"></i></a></li>
                    <li>Voor een uitleg over de uitslagberekening,<a href="#">klik hier <i class="fas fa-angle-double-right"></i></a></li>
                    <li>Voor een uitleg over de Cw-kromme, <a href="#">klik hier <i class="fas fa-angle-double-right"></i></a></li>
                    <li>Voor de lezing 'slepen' van Roelf Pot (jan 2015), <a href="#">klik hier <i class="fas fa-angle-double-right"></i></a></li>
                </ul>    

            </div>
        </div>
    </div>
</div>