title = "Sloepen informatie"
url = "/sloepen-informatie"
layout = "defaulttemplate"
description = "Inforamtie over sloepen"
meta_title = "Sloepen informatie"
meta_description = "Inforamtie over sloepen"
is_hidden = 0

[contenteditor]
tools = "*"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "zoekpagina.htm"

[siteSearchInclude]
==
{% component 'siteSearchInclude' %}

<div class="section section-white">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title-bold">Sloepen informatie</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% component 'contenteditor' file="sloepen/sloepen-text1.htm"  tools="*" %}
            </div>
            <div class="col-sm-6">
                <img src="{{ 'assets/images/sloepen-informatie.jpg'|theme }}" class="w100 sloepen-img" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% component 'contenteditor' file="sloepen/sloepen-text2.htm"  tools="*" %}
            </div>
        </div>
    </div>
</div>
<div class="section section-grey">
    <div class="container container-padding">
        <div class="row">
            <div class="col-sm-12">
                {% component 'contenteditor' file="sloepen/sloepen-text3.htm"  tools="*" %}
                <ul>
                    <li>Roeicommando's, <a href="#">klik hier <i class="fas fa-angle-double-right"></i></a></li>
                    <li>Het manoevreren met een roeisloep, <a href="#">klik hier <i class="fas fa-angle-double-right"></i></a></li>
                    <li>De benamingen van onderdelen van de sloep, <a href="#">klik hier <i class="fas fa-angle-double-right"></i></a></li>
                    <li>Verkeersregels (BPR), <a href="#">klik hier <i class="fas fa-angle-double-right"></i></a></li>
                    <li>Aanvullende Veiligheidsaspecten, <a href="#">klik hier <i class="fas fa-angle-double-right"></i></a></li>
                    <li>Regels tijdens een wedstrijd, <a href="#">klik hier <i class="fas fa-angle-double-right"></i></a></li>
                    <li>Calamiteiten, <a href="#">klik hier <i class="fas fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>