title = "Zoekpagina"
url = "/zoekpagina"
layout = "defaulttemplate"
is_hidden = 0

[OFFLINE\SiteSearch\Components\SearchResults searchResults]
resultsPerPage = 10
showProviderBadge = 1
noResultsMessage = "Geen resultaten gevonden."
visitPageMessage = "Bezoek pagina"
==
<div class="section section-white">
    <div class="container container-padding">
        <h1 class="title-bold">Zoek resultaten</h1>

        <h2>Zoek resultaten voor {{ searchResults.query }}</h2>

        {% component 'searchResults' %}
    </div>
</div>