.btn-lg, .btn-group-lg > .btn {
  position: absolute !important;
  left: 47%;
  margin: 10px;
}

.contact-footer {
  a{
    position: absolute;
    left: 23%;
    top: 120%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 60px;
    background-color: @brand-primary;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #fff;
    transition: .5s;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  a:hover{
    color: @brand-primary;
  }

  a:before{
    content: '';
    position: absolute;
    top: -0.1%;
    left: -0.1%;
    border-radius: 5px;
    background-color: #fff;
    width: 101%;
    height: 101%;
    z-index: -1;
    transition: .5s;
    transform: scale(0);
  }

  a:hover:before{
    color: #262626;
    transform: scale(1);
  }

}