.navbar-header .navbar-brand {
  padding-left: 55px;
  background-image: url('../../images/october.png');
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 7px 50%;
  transition: color 0.2s ease 0.05s;
}

.navbar-autohide {
  transition: transform .5s;
}

.navbar-nav {

  a {
    transition: color .25s, box-shadow .15s !important;
    border-radius: 10px !important;

    &:hover {
      color: @brand-secondary !important;
      background: white !important;
    }

  }


}

.navbar-autohide.is-hidden {
  transform: translateY(-(@navbar-height + 2px));
}

.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li {
  a {
    transition: color 0.2s ease 0.05s;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
  }
}

a {
  text-decoration: none;
}

.dropdown-menu > li > a {
  color: @brand-primary !important;

  a:hover {
    background-color: white !important;
  }

  .dropdown-toggle {
    background-color: white !important;
  }
}

.navbar-nav a:active {
  background-color: #ffffff !important;
}

.navbar-nav li:hover>.dropdown-menu {
  display: block !important;
}