.title-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.title-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.title-bestuur {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
}

.title-news {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}