<h2>
    <b>Slepen</b>
</h2>
<p>
    Door Covid-19 komt het slepen in 2021 onder druk, maar we proberen in ieder geval alle echt noodzakelijke slepen door te laten gaan op 6-7 maart (reservedatum 13-14 maart):
</p>
<p>
    nieuwe sloepen
</p>
<p>
    sloepen die relevant zijn aangepast (zie het reglement wat ‘relevant’ is)
</p>
<p>
    sloepen die groot onderhoud of fikse reparaties hebben gehad (vaak ook lichter of zwaarder geworden)
</p>
<p>
    Voor andere redenen gaan we natuurlijk ook slepen als het weer kan, maar daarvoor moeten we de ontwikkelingen afwachten.
</p>