<p class="text-center">
    De website word medemogelijk gemaakt door de studenten van Applicatie- en Mediaontwikkeling van het Deltion College:
</p>
<p class="text-center">
    Noortje Adolfs
</p>
<p class="text-center">
    Linard Koning
</p>
<p class="text-center">
    Daphne Bosch
</p>
<p class="text-center">
    <strong>De website is alleen verkrijgbaar voor de Federatie Sloeproeien Nederland.</strong>
</p>