<h2>
    <b>2020</b>
</h2>
<ul>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001542-33ba233ba5/Sloepenregister-28maart2020.pdf">Sloepenregister 28 maart 2020</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001508-405ca405cd/Concept_notulen_ALV_FSN_2020.pdf">Concept Notulen ALV feb. 2020</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001509-322ee322f1/FSN_reglement_2020_v4.8.pdf">FSN Reglement 2020 (v4.8)</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001510-e7a83e7a86/FSN_Handboek_Wedstrijdorganisaties_V1.3.pdf">Handboek Wedrijdorganisaties 2020 (v1.3)</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001487-12a6912a6b/Toekomstvisie%20klassenindeling%20ALV%202020.pdf">Toekomstvisie klassenindeling (Presentatie ALV 2020)</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001441-722ac722ae/Voorstel%20aanpassing%20afmetingen%20riemen.pdf">Voorstel aanpassing afmetingen riemen (Voorstel ALV 2020)</a>
    </li>
</ul>
<h2>
    <b>2019</b>
</h2>
<ul>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001307-462de47390/Sloepenregister-31maart2019.pdf">Sloepenregister 31 maart 2019</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001306-cdfc6cee5a/Reglement%202019-v2.pdf">FSN Regelement 2019</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001259-1d2941e256/Uitnodiging%20Algemene%20Leden%20Vergadering%20FSN%2026%20januari%202019%20.pdf">Agenda ALV</a>
    </li>
</ul>
<h2>
    <b>2018</b>
</h2>
<ul>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001137-364c8374a1/FSN_Reglement_2018_versie_4.6_def.pdf">FSN regelement 2018</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001131-9e7ae9f60e/Sloepenregister-9mei2018.pdf">Sloepenregister 9-5-2018</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001123-aff10b0e69/Informatie%20sleepproeven%20van%202018.pdf">Informatiebrief Sleepproeven 2018</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200001130-9d6e09e70f/Correctie%20sleepproeven%202018%20SKC.pdf">Uitleg Correctie Sleepproeven 2018</a>
    </li>
</ul>
<h2>
    <b>2017</b>
</h2>
<ul>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200000888-db904dd530/Sloepenregister-16mei2017.pdf">Sloepenregister 16-5-2017</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200000906-cbaffcc577/FSN_Technisch_reglement_2017_versie_4.5.pdf">Technisch reglement 2017 (versie 4.5)</a>
    </li>
</ul>
<h2>
    <b>2016</b>
</h2>
<ul>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200000526-dd040ddecc/Sloepenregister-21maart2016.pdf">Sloepenregister 21-3-2016</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200000459-0cfad0f4d6/Cw-kromme.pdf">Uitleg Cw-kromme</a>
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200000458-a315ca51e2/Uitslagberekening.pdf">Uitleg uitslagberekening</a>
    </li>
    <li>
        Uitleg sleepproef
    </li>
    <li>
        Handboek voor wedstrijdorganisties 2016
    </li>
    <li>
        <a href="https://federatiesloeproeien.nl/_files/200000450-3bc753db1a/Binnenvaartpolitiereglement_feb_2016.pdf">BPR 2016</a>
    </li>
</ul>