description = "Default layout"

[menu header_menu]
menu_id = 1

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1

[siteSearchInclude]
==
<!{% component 'menu' %}DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>October CMS - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
        <script src="https://kit.fontawesome.com/89d6643550.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Raleway:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="{{ [ 'assets/less/vendor.less' ] |theme }}" rel="stylesheet">
        <link href="{{ [ 'assets/less/theme.less' ]|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body class="d-flex flex-column min-vh-100">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <div class="p-5 text-center bg-light header">
            <h1 class="mb-3">Federatie Sloeproeien Nederland</h1><br>
        </div>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer class="mt-auto" id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/mobile-slider.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>