.header {
  background-image: url('../../images/header.jpg');
  background-size: cover;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  color: #FFFFFF !important;
}

.header h1 {
  color: #FFFFFF !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
}

.col-nieuws {
  .post-list {
    padding: 0;

    li {
      list-style: none;

      h3 {
        font-size: 20px;
      }

      .info {
        font-size: 12px;
      }
    }
  }

  .pagination {
    display: none;
  }
}

.cool-link {
  display: inline-block;
  color: @brand-primary;
  text-decoration: none !important;
  font-weight: 600;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: @brand-secondary;
  color: @brand-secondary;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  //transition: width .3s;
}

.no-decoration {
  a {
    text-decoration: none;
    transition: color .25s, box-shadow .15s !important;
    font-weight: bold;

    a:hover {
      color: @brand-dark !important;
    }
  }
}

.title-first {
  h3 {
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif !important;
  }
}

.home-section-carousel {
  height: 2000px;
  width: 2000px;
}